<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiancaibao.mapper.trade.TenderRepaymentHostingCollectMapper">
	<resultMap id="BaseResultMap"
		type="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollect">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="amount" jdbcType="BIGINT" property="amount" />
		<result column="hosting_collect_order_id" jdbcType="VARCHAR"
			property="hostingCollectOrderId" />
		<result column="redeem_order_id" jdbcType="VARCHAR" property="redeemOrderId" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, user_id, amount, hosting_collect_order_id, redeem_order_id, status,
		created_at,
		updated_at, order_code, ip, deleted_at
	</sql>
	<select id="selectByExample"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollectExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tender_redeem_hosting_collect
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="startRow != null">
			limit #{startRow} , #{pageSize}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tender_redeem_hosting_collect
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tender_redeem_hosting_collect
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollectExample">
		delete from tender_redeem_hosting_collect
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"   useGeneratedKeys="true" keyProperty="id"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollect">
		insert into tender_redeem_hosting_collect (id, user_id, amount,
		hosting_collect_order_id, redeem_order_id, status,
		created_at, updated_at, order_code,
		ip, deleted_at)
		values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{amount,jdbcType=BIGINT},
		#{hostingCollectOrderId,jdbcType=VARCHAR}, #{redeemOrderId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
		#{orderCode,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR}, #{deletedAt,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"   useGeneratedKeys="true" keyProperty="id"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollect">
		insert into tender_redeem_hosting_collect
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="hostingCollectOrderId != null">
				hosting_collect_order_id,
			</if>
			<if test="redeemOrderId != null">
				redeem_order_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createdAt != null">
				created_at,
			</if>
			<if test="updatedAt != null">
				updated_at,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="deletedAt != null">
				deleted_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=BIGINT},
			</if>
			<if test="hostingCollectOrderId != null">
				#{hostingCollectOrderId,jdbcType=VARCHAR},
			</if>
			<if test="redeemOrderId != null">
				#{redeemOrderId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="deletedAt != null">
				#{deletedAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollectExample"
		resultType="java.lang.Long">
		select count(*) from tender_redeem_hosting_collect
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tender_redeem_hosting_collect
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=BIGINT},
			</if>
			<if test="record.amount != null">
				amount = #{record.amount,jdbcType=BIGINT},
			</if>
			<if test="record.hostingCollectOrderId != null">
				hosting_collect_order_id = #{record.hostingCollectOrderId,jdbcType=VARCHAR},
			</if>
			<if test="record.redeemOrderId != null">
				redeem_order_id = #{record.redeemOrderId,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.createdAt != null">
				created_at = #{record.createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updatedAt != null">
				updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="record.orderCode != null">
				order_code = #{record.orderCode,jdbcType=VARCHAR},
			</if>
			<if test="record.ip != null">
				ip = #{record.ip,jdbcType=VARCHAR},
			</if>
			<if test="record.deletedAt != null">
				deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tender_redeem_hosting_collect
		set id = #{record.id,jdbcType=BIGINT},
		user_id = #{record.userId,jdbcType=BIGINT},
		amount = #{record.amount,jdbcType=BIGINT},
		hosting_collect_order_id = #{record.hostingCollectOrderId,jdbcType=VARCHAR},
		redeem_order_id = #{record.redeemOrderId,jdbcType=VARCHAR},
		status = #{record.status,jdbcType=VARCHAR},
		created_at = #{record.createdAt,jdbcType=TIMESTAMP},
		updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
		order_code = #{record.orderCode,jdbcType=VARCHAR},
		ip = #{record.ip,jdbcType=VARCHAR},
		deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollect">
		update tender_redeem_hosting_collect
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=BIGINT},
			</if>
			<if test="hostingCollectOrderId != null">
				hosting_collect_order_id = #{hostingCollectOrderId,jdbcType=VARCHAR},
			</if>
			<if test="redeemOrderId != null">
				redeem_order_id = #{redeemOrderId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				created_at = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="deletedAt != null">
				deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.tiancaibao.pojo.trade.TenderRepaymentHostingCollect">
		update tender_redeem_hosting_collect
		set user_id = #{userId,jdbcType=BIGINT},
		amount = #{amount,jdbcType=BIGINT},
		hosting_collect_order_id = #{hostingCollectOrderId,jdbcType=VARCHAR},
		redeem_order_id = #{redeemOrderId,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		created_at = #{createdAt,jdbcType=TIMESTAMP},
		updated_at = #{updatedAt,jdbcType=TIMESTAMP},
		order_code = #{orderCode,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!--根据订单号获取代付记录 -->
	<select id="getTenderRepaymentHostingCollectByOrderCode" resultMap="BaseResultMap"
		parameterType="String">
		SELECT
		id, user_id, amount,
		hosting_collect_order_id,
		redeem_order_id, status,
		created_at, updated_at, order_code,
		ip,
		deleted_at
		FROM
		tender_redeem_hosting_collect
		where
		order_code =
		#{orderCode,jdbcType=VARCHAR}
	</select>
</mapper>